@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap'); /*Oswald Font Import*/

body {
  font-size: 28px;
	margin: 0px;
	padding: 2px;
	font-family: "Oswald";
	background-color: #333;
	background-image: linear-gradient(#333, rgb(116, 116, 116));
}

header{
	padding: 100px;
}

/*Hotbar CSS*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(39, 39, 39);
	color:white;
}

/*.active {
  background-color: white;
	color: black;
}
/*Hotbar CSS End*/

/* Article CSS*/
article {
  background: white;
  border: 3px solid #a0a0a0;
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
}

hr, article .date {
  color: #a0a0a0;
}
/*End of Article CSS*/